<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega DropDown</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head>
<body>

    <nav>
      <div class="container">
        <ul class="main-menu">

          <li>
            <a href="">Tab1</a>
              <div class="menu-sub">
                <div class="menu-col-1">
                  <h5 class="menu-category">Category</h5>
                  <ul>
                    <li><a href="">Sub1.1</a></li>
                    <li><a href="">Sub1.2</a></li>
                    <li><a href="">Sub1.3</a></li>
                    <li><a href="">Sub1.4</a></li>
                  </ul>
                  <h5 class="menu-category">Category</h5>
                  <ul>
                    <li><a href="">Sub1.1</a></li>
                    <li><a href="">Sub1.2</a></li>
                    <li><a href="">Sub1.3</a></li>
                    <li><a href="">Sub1.4</a></li>
                  </ul>
                </div>

                <div class="menu-col-2">
                  <h5 class="menu-category">Category</h5>
                  <ul>
                    <li><a href="">Sub1.1</a></li>
                    <li><a href="">Sub1.2</a></li>
                    <li><a href="">Sub1.3</a></li>
                    <li><a href="">Sub1.4</a></li>
                  </ul>
                  <h5 class="menu-category">Category</h5>
                  <ul>
                    <li><a href="">Sub1.1</a></li>
                    <li><a href="">Sub1.2</a></li>
                    <li><a href="">Sub1.3</a></li>
                    <li><a href="">Sub1.4</a></li>
                  </ul>
                </div>
                
                <div class="menu-col-3">
                  <h5 class="menu-category">Category</h5>
                  <ul>
                    <li><a href="">Sub1.1</a></li>
                    <li><a href="">Sub1.2</a></li>
                    <li><a href="">Sub1.3</a></li>
                    <li><a href="">Sub1.4</a></li>
                  </ul>
                  <h5 class="menu-category">Category</h5>
                  <ul>
                    <li><a href="">Sub1.1</a></li>
                    <li><a href="">Sub1.2</a></li>
                    <li><a href="">Sub1.3</a></li>
                    <li><a href="">Sub1.4</a></li>
                  </ul>
                </div>

                <div class="menu-col-4">
                  <h5 class="menu-category">Category</h5>
                  <ul>
                    <li><a href="">Sub1.1</a></li>
                    <li><a href="">Sub1.2</a></li>
                    <li><a href="">Sub1.3</a></li>
                    <li><a href="">Sub1.4</a></li>
                  </ul>
                  <h5 class="menu-category">Category</h5>
                  <ul>
                    <li><a href="">Sub1.1</a></li>
                    <li><a href="">Sub1.2</a></li>
                    <li><a href="">Sub1.3</a></li>
                    <li><a href="">Sub1.4</a></li>
                  </ul>
                </div>

              </div>              
          </li>

          <li>
            <a href="">Tab2</a>
          </li>
          <li>
            <a href="">Tab3</a>
          </li>
          <li>
            <a href="">Tab4</a>
          </li>
        </ul>
      </div>
    </nav>
    
</body>

</html>
