<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head>
<body>  
  
  <section class="our-webcoderskull padding-lg">
    <div class="container">
      <ul class="row">
        <li class="col-12 col-md-4">
            <div class="cnt-block equal-hight" style="height: 380px;">
              <figure><img src="assets/img/team-member.png" class="img-responsive" alt=""></figure>
              <h3>Ifeoma Okonkwo</h3>
              <p>Managing Director</p>
              <p>ifeoma.okonkwo@bomboki.com</p>
              <p>234-803-341-0130</p>
            </div>
        </li>
        <li class="col-12 col-md-4">
            <div class="cnt-block equal-hight" style="height: 380px;">
              <figure><img src="assets/img/team-member.png" class="img-responsive" alt=""></figure>
              <h3>Adaora Okonkwo</h3>
              <p>Director Sales</p>
              <p>adaor.okonkwo@bomboki.com</p>
              <p>234-813-873-3577</p>
            </div>
        </li>
        <li class="col-12 col-md-4">
            <div class="cnt-block equal-hight" style="height: 380px;">
              <figure><img src="assets/img/team-member.png" class="img-responsive" alt=""></figure>
              <h3>Chidiebere Okonkwo</h3>
              <p>Head, Admin</p>
              <p>sonia@bomboki.com</p>
              <p>234-903-312-0298</p>
            </div>
        </li>        
      </ul>
    </div>
  </section>
</body>

<script src="assets/js/jquery-3.5.1.min.js"></script>
<!-- <script src="assets/js/popper.min.js"></script> -->
<script src="assets/js/bootstrap.min.js"></script>

</html>
