<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients & Partners</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head>
<body>  
  
  <div class="container">
    <h2>Our Clients/Partners</h2>
     <section class="customer-logos slider">
      <figure class="figure slide">
        <img src="assets/img/logo1.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption text-center">client</figcaption>
      </figure>
      <figure class="figure slide">
        <img src="assets/img/logo2.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption text-center">client</figcaption>
      </figure>
      <figure class="figure slide">
        <img src="assets/img/logo3.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption text-center">client</figcaption>
      </figure>
      <figure class="figure slide">
        <img src="assets/img/logo4.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption text-center">client</figcaption>
      </figure>
      <figure class="figure slide">
        <img src="assets/img/logo5.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption text-center">client</figcaption>
      </figure>
      <figure class="figure slide">
        <img src="assets/img/logo6.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption text-center">client</figcaption>
      </figure>
      <figure class="figure slide">
        <img src="assets/img/logo7.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption text-center">client</figcaption>
      </figure>
     </section>
  </div>

</body>

<script src="assets/js/jquery-3.5.1.min.js"></script>
<!-- <script src="assets/js/popper.min.js"></script> -->
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/js/custom.js"></script>

 <script src="assets/js/slick.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script> -->


</html>
